<div class="footer_main">
    <div class="container">
        <div class="row ">
            <div class="col-sm-3">
                <h5 class="footer_heading">Fans</h5>
                <ul class="footer_links">
                    <li><a href="">AC/DC Solar</a></li>
                    <li><a href="">Ceiling Fans Classic Series</a></li>
                    <li><a href="">Ceiling Fans Executive Series</a></li>
                    <li><a href="">Bracket Fans</a></li>
                    <li><a href="">Pedestal Fans</a></li>
                    <li><a href="">Exhaust Fans</a></li>
                    <li><a href="">Louvre Fans</a></li>
                    <li><a href="">Table Fans</a></li>
                </ul>
            </div>
            <div class="col-sm-3">
                <h5 class="footer_heading">Contact Us</h5>
                <ul class="footer_links">
                    <li><a href="">Complaint Form</a></li>
                    <li><a href="">Sales Network</a></li>
                    <li><a href="">Product Inquiry</a></li>
                    <li><a href="">Dealership Application</a></li>
                    <li><a href="">Careers</a></li>
                    <li><a href="">Address and Access</a></li>
                </ul>
            </div>
            <div class="col-sm-3">
                <h5 class="footer_heading">About Us</h5>
                <ul class="footer_links">
                    <li><a href="">Vision and Mission</a></li>
                    <li><a href="">Achievements</a></li>
                    <li><a href="">Media Resources</a></li>
                    <li><a href="">Our Responsibilities</a></li>
                </ul>
            </div>
            <div class="col-sm-3 ">
                <h5 class="footer_heading">Contact Details</h5>
                <div class="call_main d-flex">
                    <a class="phone_icon" href="tel:+92-53 3726091 ">
                        <i class="fa-thin fa-phone"></i>
                    </a>
                    <div class="phone_details">
                        <p>For any Inquiry</p>
                        <a href="tel:+92-53 3726091 " class="phone_no">+92-53 3726091 </a>
                    </div>
                </div>
                <ul class="footer_links">
                    <p><a href="mailto:info@fan.com">Email: info fan.com</a></p>
                    <p>Address: G.T. Road, Gujrat - Pakistan</p>

                </ul>
                <h5 class="footer_heading">Follow Us</h5>
                <div class="social_links mb-2">
                    <a href=""><i class="fa-brands fa-facebook-f"></i></a>
                    <a href=""><i class="fa-brands fa-instagram"></i></a>
                    <a href=""><i class="fa-brands fa-whatsapp"></i></a>
                    <a href=""><i class="fa-brands fa-youtube"></i></a>
                </div>
            </div>
            <div class="footer_bottom_line"></div>
            <div class="footer_bottom d-flex align-items-center">
                <div class="payment_icons d-flex">
                    <img src="../assets/images/visa.svg" alt="">
                    <img src="../assets/images/card.svg" alt="">
                </div>
                <p class="mt-2">© 2020 Wahid Industries Limited. All rights reserved</p>
                <ul class="footer_bottom_link d-flex mt-2">
                    <li><a href="">Catalogue</a></li>
                    <li><a href="">Complain Form</a></li>
                    <li><a href="">Inquiry Form</a></li>
                </ul>
                <div>
                    <p>Powered By: Abaska Tech</p>
                </div>
            </div>
        </div>

    </div>
</div>
