<div>
    <header>
        <div class="">
            <!-- <div class="logo">
                <a href="#"><h1>FAN</h1></a>
            </div> -->
            <nav class="navbar navbar-expand-lg ">
                <div class="container">
                  <a class="" routerLink="/"><h1>FAN</h1></a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
                      </li>
                      <!-- <li class="menu-item-has-children">
                        <a href="#">Category <i class="ion ion-ios-arrow-down"></i></a>
                        <div class="menu-subs menu-mega menu-column-4">
                          <div class="list-item">
                            <h4 class="title">Brands</h4>
                            <ul>
                              <li><a href="#">Pak Fans</a></li>
                              <li><a href="#">Royal Fans</a></li>
                              <li><a href="#">GFC Fans</a></li>
                              <li><a href="#">SUFI Fans</a></li>
                              <li><a href="#">Topair Fans</a></li>
                            </ul>
                          </div>
                          <div class="list-item">
                            <h4 class="title">Catagories</h4>
                            <ul>
                              <li><a href="#">Celling Fans </a></li>
                              <li><a href="#">Pedestal Fans </a></li>
                              <li><a href="#">Exhaust Fans</a></li>
                            </ul>
                          </div>
                           <div class="list-item">
                            <h4 class="title">Products</h4>
                            <ul>
                              <li><a href="#">AC/DC Solar Fan</a></li>
                              <li><a href="#">Ceiling Fans Classic Series</a></li>
                              <li><a href="#">Ceiling Fans Executive Series</a></li>
                              <li><a href="#">Table Fans</a></li>
                              <li><a href="#">Louvre Fans</a></li>
                            </ul>
                          </div>
                        </div>
                      </li> -->
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Brands
                        </a>
                        <ul class="dropdown-menu ">
                          <div class="drop_down_main d-flex">
                            <div class="brand_shadow">
                              <p class="mx-5">Brands</p>
                              <div class="d-flex align-items-center mx-5 brand_dropdown">
                                <i class="fa-solid fa-fan"></i>
                                <li><a class="dropdown-item" href="#">Pak Fans</a></li>
                              </div>
                              <div class="d-flex align-items-center mx-5 brand_dropdown">
                                <i class="fa-solid fa-fan"></i>
                                <li><a class="dropdown-item" href="#">Royal Fans</a></li>
                              </div>
                              <div class="d-flex align-items-center mx-5 brand_dropdown">
                                <i class="fa-solid fa-fan"></i>
                                <li><a class="dropdown-item" href="#">GFC Fans</a></li>
                              </div>
                              <div class="d-flex align-items-center mx-5 brand_dropdown">
                                <i class="fa-solid fa-fan"></i>
                                <li><a class="dropdown-item" href="#">Sufi Fans</a></li>
                              </div>
                              <div class="d-flex align-items-center mx-5 brand_dropdown">
                                <i class="fa-solid fa-fan"></i>
                                <li><a class="dropdown-item" href="#">Topair Fans</a></li>
                              </div>
                            </div>
                            <div class="mb-3">
                              <p class="mx-5">Catagories</p>
                              <div class="mx-5 brand_dropdown">
                                <li><a class="dropdown-item " href="#">Celling Fans </a></li>
                              </div>
                              <div class="mx-5 brand_dropdown">
                                <li><a class="dropdown-item " href="#">Pedestal Fans</a></li>
                              </div>
                              <div class="mx-5 brand_dropdown">
                                <li><a class="dropdown-item " href="#">Exhaust Fans</a></li>
                              </div>
                            </div>
                            <div class="product_shadow">
                              <p class="mx-5">Products</p>
                              <div class="mx-5 brand_dropdown">
                                <li><a class="dropdown-item " href="#">AC/DC Solar Fan </a></li>
                              </div>
                              <div class="mx-5 brand_dropdown">
                                <li><a class="dropdown-item " href="#">Ceiling Fans Classic Series</a></li>
                              </div>
                              <div class="mx-5 brand_dropdown">
                                <li><a class="dropdown-item " href="#">Ceiling Fans Executive Series</a></li>
                              </div>
                              <div class="mx-5 brand_dropdown">
                                <li><a class="dropdown-item " href="#">Table Fans</a></li>
                              </div>
                              <div class="mx-5 brand_dropdown">
                                <li><a class="dropdown-item " href="#">Louvre Fans</a></li>
                              </div>
                            </div>

                          </div>
                        </ul>
                      </li>
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          All Products
                        </a>
                        <ul class="dropdown-menu">
                          <div class="mx-5 brand_dropdown">
                            <li><a class="dropdown-item" href="#">AC/DC Solar Fan</a></li>
                          </div>
                          <div class="mx-5 brand_dropdown">
                            <li><a class="dropdown-item" href="#">Ceiling Fans Classic Series</a></li>
                          </div>
                          <div class="mx-5 brand_dropdown">
                            <li><a class="dropdown-item" href="#">Ceiling Fans Executive Series</a></li>
                          </div>
                          <div class="mx-5 brand_dropdown">
                            <li><a class="dropdown-item" href="#">Table Fans</a></li>
                          </div>
                        </ul>
                      </li>

                      <li class="nav-item">
                        <a class="nav-link"  routerLink="">Contact Us</a>
                      </li>
                    
                    </ul>

                  
                  </div>
                  <form action="">
                        <div class="header-item-right mt-2 d-flex align-items-center">

                        <div class="search_bar ">
                            <div class="input-group mb-3">
                                <select class="form-select" aria-label="Default select example">
                                    <option selected>All Products</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                                <input type="text" class="form-control" aria-label="Text input with dropdown button"placeholder="Search for products">
                                <button class="search_bar_button" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                            </div>
                        </div>
                        <div class="shop_bag">
                            <a href="#">
                                <i class="fa-light fa-bag-shopping"></i>
                            </a>
                        </div>
                    </div>
                    </form>
                  
                </div>
              </nav>
        </div>
    </header>
    <!-- <header>
    <div class="wrapper">
        <div class="header-item-left">
          <a href="index.html" style="text-decoration:none;"><h1>FAN</h1></a>
        </div>
        <div class="header-item-center">
            <button type="button" class="menu-mobile-trigger">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </button>
          <div class="overlay"></div>
          <nav class="menu h_main">
            <div class="menu-mobile-header"> 
              <button type="button" class="menu-mobile-arrow"><i class="fa-sharp fa-regular fa-arrow-left"></i></button>
              <div class="menu-mobile-title"></div>
              <button type="button" class="menu-mobile-close"><i class="fa-sharp fa-regular fa-xmark"></i></button>
            </div>
            <ul class="menu-section">
              <li><a href="#" class="active">Home</a></li>
              <li class="menu-item-has-children">
                <a href="#">Category <i class="ion ion-ios-arrow-down"></i></a>
                <div class="menu-subs menu-mega menu-column-4">
                  <div class="list-item">
                    <h4 class="title">Brands</h4>
                    <ul>
                      <li><a href="#">Pak Fans</a></li>
                      <li><a href="#">Royal Fans</a></li>
                      <li><a href="#">GFC Fans</a></li>
                      <li><a href="#">SUFI Fans</a></li>
                      <li><a href="#">Topair Fans</a></li>
                    </ul>
                  </div>
                  <div class="list-item">
                    <h4 class="title">Catagories</h4>
                    <ul>
                      <li><a href="#">Celling Fans </a></li>
                      <li><a href="#">Pedestal Fans </a></li>
                      <li><a href="#">Exhaust Fans</a></li>
                    </ul>
                  </div>
                   <div class="list-item">
                    <h4 class="title">Products</h4>
                    <ul>
                      <li><a href="#">AC/DC Solar Fan</a></li>
                      <li><a href="#">Ceiling Fans Classic Series</a></li>
                      <li><a href="#">Ceiling Fans Executive Series</a></li>
                      <li><a href="#">Table Fans</a></li>
                      <li><a href="#">Louvre Fans</a></li>
                    </ul>
                  </div>
                </div>
              </li>
              <li class="menu-item-has-children">
                <a href="#">All Products <i class="ion ion-ios-arrow-down"></i></a>
                <div class="menu-subs menu-column-1">
                  <ul>
                        <li><a href="#">AC/DC Solar Fan</a></li>
                      <li><a href="#">Ceiling Fans Classic Series</a></li>
                      <li><a href="#">Ceiling Fans Executive Series</a></li>
                      <li><a href="#">Table Fans</a></li>
                      <li><a href="#">Louvre Fans</a></li>
                  </ul>
                </div>
              </li>
              <li><a href="#">Contact</a></li>
            </ul>


             

          </nav>
        </div>
        <div class="header-item-right">
           <div class="search_bar">
                    <div class="input-group mb-3">
                    <select class="form-select" aria-label="Default select example">
                        <option selected>All Products</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                      </select>
                    <input type="text" class="form-control" aria-label="Text input with dropdown button"placeholder="Search for products"><button class="search_bar_button" type="submit"><i class="fa-sharp fa-regular fa-magnifying-glass"></i></button>
                  </div>
              </div>
              <div class="shop_bag">
                  <a href="cart.html"><i class="fa-thin fa-bag-shopping"></i></a>
              </div>
        </div>
      </div>

  </header> -->
</div>