<div>
    <div class="product_details_main">
        <div class="container">
            <div class="pages_banner">
                <p class="banner_description">Home/Royal Fans/Floral AC/DC</p>
                <h1 class="banner_heading heading_primary">Floral AC/DC</h1>
            </div>
        </div>
    </div>

    <div class="container product_detail">
      <div class="row">

        <div class="col-sm-6 ">
            <swiper-container style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff" class="mySwiper"
            thumbs-swiper=".mySwiper2" space-between="10" >
            <swiper-slide class="gallery_main">
              <img src="../assets/images/pd_main.png" />
            </swiper-slide>
            <swiper-slide  class="gallery_main">
              <img src="../assets/images/pd_2.png" />
            </swiper-slide>
            <swiper-slide  class="gallery_main">
              <img src="../assets/images/pd_3.png" />
            </swiper-slide>

          </swiper-container>
        
          <swiper-container class="mySwiper2 mt-3" space-between="20" slides-per-view="3" free-mode="true"
            watch-slides-progress="true">
            <swiper-slide class="gallery_bottom ">
              <img src="../assets/images/pd_1.png" />
            </swiper-slide>
            <swiper-slide class="gallery_bottom">
              <img src="../assets/images/pd_2.png" />
            </swiper-slide>
            <swiper-slide class="gallery_bottom">
              <img src="../assets/images/pd_3.png" />
            </swiper-slide>

          </swiper-container>
        </div>

        <div class="col-sm-6 details">
          <h1 class="heading_secondary font_blue">Floral AC/DC</h1>
          <p class="description">Celling Fan Innovative & Stylish Design</p>
          <h3 class="heading_third">Comes with a remote</h3>
          <ul>
            <div class="row item_details">
              <div class="col-sm-6">
                <li>99.99% Copper Wire</li>
              </div>
              <div class="col-sm-6">
                <li>Energy Efficient Durable Motor</li>
              </div>
              <div class="col-sm-6">
                <li>Rustproof Strong Body</li>
              </div>
              <div class="col-sm-6">
                <li>Noiseless Performance</li>
              </div>
            </div>

          </ul>
            <form action="">
              
              <h3 class="heading_third">Select Color</h3>
              <div class="select_btn">
                <div class="color_checkbox" v-tooltip:top="'Red'">
                    <input type="radio" name="color" class="btn-check" id="color_filter1" autocomplete="off">
                    <label class="btn" for="color_filter1" style="background-color: #634B3F;"></label>
                </div>
                <div class="color_checkbox" v-tooltip:top="'Orange'">
                    <input type="radio" name="color" class="btn-check" id="color_filter2" autocomplete="off">
                    <label class="btn" for="color_filter2" style="background-color: #000000;"></label>
                </div>
                <div class="color_checkbox" v-tooltip:top="'Pink'">
                    <input type="radio" name="color" class="btn-check" id="color_filter3" autocomplete="off">
                    <label class="btn" for="color_filter3" style="background-color: #FFFFFF;"></label>
                </div>
                <h3 class="heading_third">Size</h3>
                <div class="select_btn">
                      <div class="filter_checkbox">
                          <input type="checkbox" class="btn-check" id="designer_filter1" autocomplete="off">
                          <label class="btn" for="designer_filter1">56''</label>
                      </div>
                      <div class="filter_checkbox">
                          <input type="checkbox" class="btn-check" id="designer_filter2" autocomplete="off">
                          <label class="btn" for="designer_filter2">35''</label>
                      </div>
                      <div class="filter_checkbox">
                          <input type="checkbox" class="btn-check" id="designer_filter3" autocomplete="off">
                          <label class="btn" for="designer_filter3">40''</label>
                      </div>
                  </div>
                <h3 class="heading_third">Style</h3>
                <div class="select_btn">
                      <div class="filter_checkbox">
                          <input type="checkbox" class="btn-check" id="designer_filter1a" autocomplete="off">
                          <label class="btn" for="designer_filter1a">s01</label>
                      </div>
                      <div class="filter_checkbox">
                          <input type="checkbox" class="btn-check" id="designer_filter2a" autocomplete="off">
                          <label class="btn" for="designer_filter2a">s02</label>
                      </div>
                      <div class="filter_checkbox">
                          <input type="checkbox" class="btn-check" id="designer_filter3a" autocomplete="off">
                          <label class="btn" for="designer_filter3a">s03</label>
                      </div>
                  </div>
                  <h3 class="heading_third">Price</h3>
                  <h1 class="heading_secondary font_blue">RS 5,999</h1>
                  </div>
                  <a routerLink="/cart" class="btn btn-secondary">Add to Cart</a>
            </form>
        </div>
      </div>
      <div class="item_specifications">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link active " id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Item description</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link " id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">Technical Specs</button>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
            <ul class="mt-5 tab_details">
              <li>We are offering 8 body styles for each color.</li>
              <li>Choose appropriate body style at time of ordering.</li>
              <li>For reference complete picture of fans are added below.</li>
            </ul>
          </div>
          <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
            <div class="mt-5">
              <table class="table table-striped">
              <tbody>
                <tr>
                  <td>AC Mode</td>
                  <td></td>
                </tr>
                <tr>
                  <td>Watts</td>
                  <td>55</td>
                </tr>
                <tr>
                  <td>Amp</td>
                  <td>0.25</td>
                </tr>
                <tr>
                  <td>RPM</td>
                  <td>360/375</td>
                </tr>
              </tbody>
            </table>
            </div>
            <div class="mt-5">
              <table class="table table-striped">
              <tbody>
                <tr>
                  <td>DC Mode</td>
                  <td></td>
                </tr>
                <tr>
                  <td>Watts</td>
                  <td>32</td>
                </tr>
                <tr>
                  <td>Amp</td>
                  <td>2.5</td>
                </tr>
                <tr>
                  <td>RPM</td>
                  <td>330/340</td>
                </tr>
              </tbody>
            </table>
            </div>
          </div>
        </div>
      </div>
      <div class="social_links d-flex align-items-center">
        <p>Share on</p>
        <a href="">
          <div class="icon_box">
            <i class="fa-brands fa-facebook-f"></i>
          </div>
        </a>
        <a href="">
          <div class="icon_box">
            <i class="fa-brands fa-instagram"></i>
          </div>
        </a>
        <a href="">
          <div class="icon_box">
            <i class="fa-brands fa-linkedin-in"></i>
          </div>
        </a>
        <a href="">
          <div class="icon_box">
            <i class="fa-brands fa-x-twitter"></i>
          </div>
        </a>
        <a href="">
          <div class="icon_box">
            <i class="fa-brands fa-whatsapp"></i>
          </div>
        </a>
      </div>
    </div>
</div>
