<div>
    <div class="product_main">
        <div class="container">
            <div class="pages_banner">
                <p class="banner_description">Home/Royal Fans</p>
                <h1 class="banner_heading heading_primary">Royal Fans</h1>
            </div>

        </div>
    </div>
    <div class="container">
        <div class="product_listing">
            <div class="row">
                <div class="col-sm-3">
                    <h4 class="heading_secondary font_blue">Filters</h4>
                    <div class="brands_main">
                        <h3 class="heading_third font_blue">Brands</h3>
                        <div class="filter_box_inner">
                            <div class="filter_checkbox">
                                <input type="checkbox" class="btn-check" id="designer_filter1" autocomplete="off">
                                <label class="btn" for="designer_filter1">Royal Fans</label>
                            </div>
                            <div class="filter_checkbox">
                                <input type="checkbox" class="btn-check" id="designer_filter2" autocomplete="off">
                                <label class="btn" for="designer_filter2">Sufi Fans</label>
                            </div>
                            <div class="filter_checkbox">
                                <input type="checkbox" class="btn-check" id="designer_filter3" autocomplete="off">
                                <label class="btn" for="designer_filter3">Pak Fans</label>
                            </div>
                            <div class="filter_checkbox">
                                <input type="checkbox" class="btn-check" id="designer_filter4" autocomplete="off">
                                <label class="btn" for="designer_filter4">GFC Fans</label>
                            </div>
                            <div class="filter_checkbox">
                                <input type="checkbox" class="btn-check" id="designer_filter6" autocomplete="off" >
                                <label class="btn" for="designer_filter6">Topair Fans</label>
                            </div>
                        </div>
                    </div>
                    <div class="price_main">
                        <h3 class="heading_third font_blue">Price</h3>
                        <p>30 product(s) corresponding to your search </p>
                        <form action="">
                            <label for="">From</label>
                            <div class="input-group">
                                <input type="number" class="form-control" placeholder="Enter Your Digits">
                                <span class="input-group-text">RS</span>
                            </div>
                            <label for="">Upto</label>
                            <div class="input-group">
                                <input type="number" class="form-control" placeholder="Enter Your Digits">
                                <span class="input-group-text">RS</span>
                            </div>
                            <div class="filter_btn d-flex justify-content-between align-items-end mt-5 mb-3">
                                <button class="btn  reset_btn">Reset</button>
                                <button class="btn btn-secondary apply_btn">Apply</button>
    
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="product_card mt-3 mb-3">
                        <a href="">
                            <div class="product_img">
                                <img src="../assets/images/p2.png" alt="">
                            </div>
                            <div class="cart_img">
                                <i class="fa-light fa-bag-shopping"></i>
                            </div>
                            <p class="card_description">
                                Celling Fan Innovative & Stylish Design
                            </p>
                            <h5>RS 5,999/-</h5>
                            <div class="colors d-flex">
                                <div class="color c1"></div>
                                <div class="color c2"></div>
                                <div class="color c3"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="product_card mt-3 mb-3">
                        <a href="">
                            <div class="product_img">
                                <img src="../assets/images/p1.png" alt="">
                            </div>
                            <div class="cart_img">
                                <i class="fa-light fa-bag-shopping"></i>
                            </div>
                            <p class="card_description">
                                Celling Fan Innovative & Stylish Design
                            </p>
                            <h5>RS 5,999/-</h5>
                            <div class="colors d-flex">
                                <div class="color c1"></div>
                                <div class="color c2"></div>
                                <div class="color c3"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="product_card mt-3 mb-3">
                        <a href="">
                            <div class="product_img">
                                <img src="../assets/images/p3.png" alt="">
                            </div>
                            <div class="cart_img">
                                <i class="fa-light fa-bag-shopping"></i>
                            </div>
                            <p class="card_description">
                                Celling Fan Innovative & Stylish Design
                            </p>
                            <h5>RS 5,999/-</h5>
                            <div class="colors d-flex">
                                <div class="color c1"></div>
                                <div class="color c2"></div>
                                <div class="color c3"></div>
                            </div>
                        </a>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
