<!-- <swiper-container   class="mySwiper" pagination="true" effect="coverflow" grab-cursor="true" centered-slides="true" loop="true"
slides-per-view="auto" coverflow-effect-rotate="50" coverflow-effect-stretch="0" coverflow-effect-depth="100"
coverflow-effect-modifier="1" coverflow-effect-slide-shadows="true">
    <swiper-slide style="width: 40%;" >
        <img class="object-fit-cover" src="https://images.unsplash.com/photo-1627847401720-8dcf7ea62d13?q=80&w=1933&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" style="width: 100%; height: 600px;" alt="">
    </swiper-slide>
    <swiper-slide style="width: 40%;">
        <img class="object-fit-cover" src="https://images.unsplash.com/photo-1561982558-05602498d458?q=80&w=2072&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" style="width: 100%; height: 600px;" alt="">
    </swiper-slide>
    <swiper-slide style="width: 40%;">
        <img class="object-fit-fill" src="https://images.unsplash.com/photo-1520262454473-a1a82276a574?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" style="width: 100%; height: 600px;" alt="">
    </swiper-slide>
    <swiper-slide style="width: 40%;">
        <img class="object-fit-cover" src="https://images.unsplash.com/photo-1561982558-05602498d458?q=80&w=2072&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" style="width: 100%; height: 600px;" alt="">
    </swiper-slide>
    <swiper-slide style="width: 40%;">
        <img class="object-fit-fill" src="https://images.unsplash.com/photo-1520262454473-a1a82276a574?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" style="width: 100%; height: 600px;" alt="">
    </swiper-slide>
 
  </swiper-container>
 -->
 <swiper-container class="mySwiper">

    <swiper-slide>
        <div class="main_banner d-flex justify-content-between">
            <div class="banner_left">
                <h1>Introducing Stylish </h1>
                <p>Designs with built-in light</p>
                <button class="btn btn-primary banner_btn">SHOP NOW</button>
            </div>
            <div class="banner_right">
                <img src="../assets/images/fan.png" alt="">
            </div>
        </div>
     
    </swiper-slide>
    <swiper-slide>Slide 2</swiper-slide>
  </swiper-container>