
<!-- <swiper-container class="mySwiper1 inner_swipper_main"  space-between="22"
slides-per-view="5" loop="true" > -->
<swiper-container class="mySwiper1 inner_swipper_main"  space-between="22"
[slidesPerView]="slidesPerView" loop="true" >
    <swiper-slide class="inner_swiper">
        <img src="../assets/images/royal_logo.png" alt="">
    </swiper-slide>

    <swiper-slide class="inner_swiper">
        <img src="../assets/images/gfc.png" alt="">
    </swiper-slide>
    <swiper-slide class="inner_swiper">
        <img src="../assets/images/sufi_logo.png" alt="">
    </swiper-slide>
    <swiper-slide class="inner_swiper">
        <img src="../assets/images/topair_logo.png" alt="">
    </swiper-slide>
    <swiper-slide class="inner_swiper">
        <img src="../assets/images/royal_logo.png" alt="">
    </swiper-slide>
 
</swiper-container>
<!-- <script>
    // swiper element
    const swiperEl = document.querySelector('swiper-container');
  
    // swiper parameters
    const swiperParams = {
      slidesPerView: 5,
      breakpoints: {
        482: {
          slidesPerView: 2,
        },
        778: {
          slidesPerView: 2,
        },
        992: {
          slidesPerView: 3,
        },
        1190: {
          slidesPerView: 4,
        },
      },
      on: {
      init() {
        // ...
      },
    },
    };
  
    // now we need to assign all parameters to Swiper element
    Object.assign(swiperEl, swiperParams);
  
    // and now initialize it
    swiperEl.initialize();
  </script> -->